# The port to run the web application on
WEB_APP_PORT=5001
# The port ot run the websocket server on
WEB_SOCKET_PORT=5002
# The secret key required by the flask app in order to encrypt the session details
SECRET_KEY="flask_super_secret_key"
# The password for the database file.
DATABASE_PASSWORD="dbpassword"